/node_modules
/public/build
/public/hot
/public/storage
/bootstrap/ssr
/storage/*.key
/vendor
/resources/js/ziggy.js
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.DS_*