includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 9 is the highest level
    level: 6

    # Rules - All rules that are specific to Laravel applications are listed here with their configurable options.
    # See https://github.com/nunomaduro/larastan/blob/master/docs/rules.md
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false